.display {display: block;}
.hide {display: none;}

html, body {
    margin: 0;
    padding: 0;
}

#box {
    width: 600px;
    height: 600px;
    margin: 50px auto;
    position: relative;
}

#plate {
    transition: transform 6s;
    transform-origin: 50% 50%;
}

#pointer {
    position: absolute;
    top: 50%;
    left: 50%;
}

#btn {
    width: 100px;
    height: 100px;
    border: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 25px;
    color: #fff;
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}